* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background: #2b3555;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body, #root {
  height: 100%;
}

html {
  font-size: 62.5%;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5rem;
}
